/*
html{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray; }
*/
/*  以上是全站黑白的样式,使用时取消注释即可 */
/*******************/

@font-face{
    font-family: '华文行楷';
    src : url('../font/huawenxingkai.htm');
}

body{
    overflow-x: scroll;
    padding: 0;
    padding-top: 3rem;
}

.top-head{
    width: 100%;
    height: 28rem;
}

.motto{
    display: inline-block;
    position: absolute;
    /* top: 3rem;
    right: 8em; */
    width: 28rem;
    height: auto;
    margin: 0rem 3rem auto 10rem;
}

.motto img{
    width: 100%;
    height: 100%;
}

.motto .logo-r{
    position: absolute;
    top: 12rem;
    left: -2rem;
    font-size: 4rem;
    display: inline-block;
    width: 40rem;
    height: 60px;
    font-family: '华文行楷';
    font-weight: bold;
    color: #0386c2;
    background-color: rgba(250,250,250,0.3);
}

a{
    text-decoration: none;
}
.logo {margin:10rem;display: inline-block;}
.eng { position:absolute; right:0px; top:10px; line-height:20px; color:#9d9d9d;}
.eng a { color:#9d9d9d; margin:0 6px;}
.eng a:hover { text-decoration:underline; color:#666;}
.nav-bg { z-index: 5; height:43px; background:url(../img/nav-bg.jpg) repeat-x;}
.nav-bg ul {width:1000px; margin:0 auto; height:43px; position:relative;}
.nav-bg ul li {  z-index: 5; float:left; height:43px; width:100px; background:url(../images/line-n.jpg) right center no-repeat; text-align:center;  line-height:43px; font-size:16px; }
.nav-bg ul li a { color:#ffffff; padding:5px 0 0 0; display:block; height:43px; position:relative; top:-5px; }
.nav-bg ul li.on a { background:url(../img/nav-2.png) no-repeat;}
.lev2 { z-index: -1; position:absolute;left:0px; top:100px;transition: .6s; width:1000px; height:38px; line-height:38px; background:#fff;}
.lev2-c { overflow:hidden;}
.lev2-c a { float:left; color:#393939 !important; margin-left:32px; font-size:14px; background:none !important;}
.lev2-c a:hover { text-decoration:underline;}
.nav-bg ul li:hover .lev2{
    position:absolute;left:0px; top:43px;
    height: 38px;
    z-index: 5;
}

/******首页轮播************/


#main {overflow: hidden; zoom: 1; position: relative; }
#index_b_hero { width: 100%; height: auto; margin: auto; position: relative; }
/* #index_b_hero img { width: 1000px; height: 380px; } */
#index_b_hero .heros { width: 1000px; height: 380px; }
#index_b_hero .hero-wrap { overflow: visible; position: absolute; }
#index_b_hero .next, #index_b_hero .prev { filter: alpha(Opacity=70); opacity: .7; position: absolute; top: 50%; margin-top: -30px; background-color: #303030; z-index: 998; }
	
    #index_b_hero .next:hover, #index_b_hero .prev:hover { background-color: #000;; }
	#index_b_hero .prev { left:-60px; }
    #index_b_hero .next { right: -60px; }
    #index_b_hero .disabled { background-color: #eee; }
    #index_b_hero .mask-left, #index_b_hero .mask-right, #index_b_hero .hero { background: #fff;  z-index: 1; position: absolute; top: 0; left: 0; width: 1000px; height: 380px; overflow: hidden; left: 2000px; }
    #index_b_hero .mask-right, #index_b_hero .mask-left { z-index: 4; left: -1000px; filter: alpha(Opacity=50); opacity: .5; background: #fff; overflow: hidden; }
    #index_b_hero .mask-right { left: 1000px; }
    #index_b_hero .active { z-index: 2; left: 0; }

/* 大头图下的链接 */
.block-links{align-items: center;}
.block-link{display: inline-block;width: 16rem;height: 6.6rem;margin: 4rem 6rem 0 6rem;box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);vertical-align: middle;color: #2f5597;align-items: center;}
.icon{display: inline-block;font-size: 2.8rem !important;position: relative;top:1.1rem;align-items: center;}
.block-link-text{display: inline-block;font-size: 1.6rem;position: relative;top:0.6rem;font-weight: 500;align-items: center;}


/* 栏目概览的选项卡效果 */

#content{
    margin-top: 5rem;
    padding: 3rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.nav-tabs-separate{
    color: #265788;
}
.nav-tabs-separate li{
    display: inline-block;
    margin: auto 6rem auto 6rem;
    height: auto;
    border-radius: 1rem;
}

.nav-tabs-separate span{
    font-size: xx-large;
}

.nav-tabs-separate li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: 2px solid #0a4279;
    border-radius: 1rem;
    font-weight: bold;
    transition: .5s;
    color: inherit;
}

.nav-tabs-separate li a:hover{
    background: #4472c4;
    color: white;
    border: 2px solid #4472c4;
}

.nav-tabs-separate .active{
    background-color: #0a4279;
    color: white !important;
}


.tab-content{
    width: 90%;
    margin: 2rem auto 2rem auto;
    padding: 0 3rem 3rem 3rem;
    border-radius: 2rem;
}

.tab-content .title{
    text-indent: 18px;
    border-left: 12px solid #0a4279;
    margin-top: 4rem;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 1rem;
}

.tab-content .news-ul li, .tab-content .dt-ul li{
    margin: 0px;
    padding: 10px 0 10px 20px;
    border-bottom: 1px dashed #0287c0;
}

.tab-content .news-ul li em{
    display: inline-block;
    padding: 0px 4px 0px 4px;
    margin: 0 8px 0 3px;;
    color: white;
    background: #0287c0;
}
.tab-content .news-ul li a{
    display: inline-block;
    text-indent: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: #333;
}

.tab-content .news-ul li span{
    float: right;
    color: #aaa;
}

.tab-content .more{
    display: block;
    margin: 3rem auto 1rem auto;
    width: 140px;
    height: 40px;
    padding-top: 7px;
    border: 2px solid #8faadc;
    border-radius: 1rem;
    text-align: center;
    color: #8faadc;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}

.tab-content .more:hover{
    color: white;
    background: #8faadc;
}


.main-tl2 { width:320px; float:left; margin-left:30px; overflow:hidden;}
.dt-ul { overflow:hidden;}
.dt-ul li { overflow:hidden; color:#222; line-height:19px; padding:11px 0 10px 0; border-bottom:1px dashed #0287c0;}
.dt-ul li img { float:left; width:75px; height:60px; display:block; margin:16px 15px 0 3px;}
.dt-ul li h3 { color:#0287c0; font-size:larger; margin-bottom:10px;}
.dt-ul li font { color:#7f7f7f; margin-bottom:3px; display:block;}
.main-tr { width:310px; float:right; overflow:hidden;}

/* 讲座信息栏 */
.jz-ul .date{
    display: inline-block;
}

.jz-ul li{
    border-bottom: 1px dashed #0287c0;
    padding: 1.2rem;
}

.jz-ul .date .jsC_DateTime{
    display: inline-block;
    background: #0287c0;
    color: white;
    font-weight: bold;
    padding: 6px 8px 6px 8px;
}
.jz-ul p{
    display: inline-block;
    text-indent: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: #333;
}

/* 中间大信封 */

#envolop{
    /* background-image: url(../../img/bg_out.png); */
    width: 100%;
    height: 90rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
    overflow: hidden;
    position: relative;
    transition: 1.2s;
}

#envolop *{
    transition: 1.2s;
}

#envolop .after{
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 0px;
    z-index: 6;
    display: inline-block;
}

#envolop .group{
    width: 60%;
    position: absolute;
    bottom: 0px;
    left: 20%;
    z-index: 5;
    display: inline-block;
}

#envolop:hover ::after{
    height: max-content;
}

#envolop .before{
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 0%;
    z-index: 4;
    display: inline-block;
}

#envolop:hover .before{
    position: absolute;
    bottom: -2000px;
}

#envolop:hover .after{
    position: absolute;
    bottom: -2000px;
}

#envolop:hover .group{
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
}

.head{
    width: 80%;
    margin: auto;
    margin-top: 8rem;
    padding-left: 4rem;
    margin-bottom: 4rem;
}

.head span{
    display: inline-block;
    background: #0a4279;
    width: 15px;
    height: 40px;
}

.head .main-title{
    display: inline-block;
    width: 40rem;
    background: #2b5c8d;
    color: white;
    position: relative;
    padding: 6px;
    padding-left: 2rem;
    margin-right: 16rem;
}

.head .main-title .h3-block{
    font-weight: bold;
    margin: 0;
}

.head .main-title .h4-block{
    font-weight: bold;
    margin: 0;
}

.head .sub-title{
    display: inline-block;
    padding-left: 8rem;
    padding-top: 4rem;
    border-left: 1px solid #4472c4;
    height: 12rem;
    width: max-content;
}

.head .sub-title p{
    display: inline;
    font-size: large;
    color: #596e92;
}

/* 照片墙 */

.photo-wall{
    padding-left: 8rem !important;
    padding-top: 0rem;
    height: min-content;
}

.photo-wall .photo-fill{
    position: relative;
    display: inline-block;
    margin: -1rem 0.6% 3rem 0.6%;
    overflow: hidden;
}

.photo-wall .photo-fill img{
    width:100%;
    height: 100%;
    object-fit:cover;
}

.photo-wall .photo-fill .mask{
    width: 100%;
    height: 100%;
    background-color:rgba(9,9,9,0.6);
    position: absolute;
    top: 500px;
    left: 0;
    padding: 3rem 2rem 0 2rem;
    color: #eee;
    transition: .6s;
}

.photo-wall .photo-fill .mask .h3{
    font-weight: bold;
}

.photo-wall .photo-fill:hover .mask{
    position: absolute;
    top: 0;
    left: 0;
}

/* 视频播放器 */

.video-block .video-fill{
    width: 48%;
    margin-left: 1%;
    display: inline-block;
    position: relative;
}

.video-block .video-fill .description{
    text-align: center;
    background: rgba(9,9,9,0.6);
    width: 100%;
    height: max-content;
    color: #eee;
    padding: 2rem;
    font-weight: bold;
    font-size: large;
}

/* 最底下的展示墙 */

.show-wall .show-fill{
    width: 40%;
    margin: 3rem 4% 3rem 4%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.show-wall .show-fill img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.show-wall .show-fill .description{
    width: 100%;
    padding: 3rem;
    position: absolute;
    left: 0;
    bottom: -100px;
    background-color: rgba(43, 92, 141, 0.1);
    z-index: 3;
    color: #eee;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    transition: .6s;
}

.show-wall .show-fill:hover .description{
    position: absolute;
    left: 0;
    bottom: 0;
        background-color: rgba(43, 92, 141, 0.9);
}


#marquee1 { overflow:hidden; width:1008px; height:165px; position:relative; left:-3px; margin-top:15px;}
#marquee1 li { float:left; width:246px; margin:0 3px; text-align:center; font-size:14px; line-height:50px;}
#marquee1 li img { display:block; width:246px; height:110px;}
/*************/
.yqlj { width:1000px; height:78px; background:#e7e7e7; overflow:hidden; }
.yqlj .tbt { float:left; width:105px; height:78px; background:#1e74c9; text-align:center; line-height:78px; color:#fff; font-size:18px;}
.yqc { overflow:hidden;  margin:11px 0 0 11px; float:left; width:870px;}
.yqlj .tbc { position:relative; left:-1px;}
.yqlj .tbc a { border-left:1px solid #777777; float:left; height:16px; line-height:16px; padding:0 10px; margin:7px 0; font-size:14px; color:#505050;}
.foot-top { background:#1e74c9; padding:30px 0; margin-top:30px;}
.f-logo { float:left; padding:21px 0; width:300px; border-right:1px solid #d2e3f4; margin-top:6px;}
.f-info { color:#ffffff; line-height:31px; float:left; margin-left:30px;}
.f-wei { float:right; width:124px; height:124px; display:block;}
.foot { color:#a2b6d2; background:#1b60a4; text-align:center; height:44px; line-height:44px;}
/******************/
/*****************************/
.inban { overflow:hidden; height:380px;}
.wz { height:50px; line-height:50px; width:1000px; position:relative; left:-8px; color:#666666; margin:0 auto; font-size:16px;}
.wz a { padding:0 8px; color:#666666;}
.wz a:hover { color:#0b4ea7;}
.inmain { width:1000px; overflow:hidden;}
.left { width:215px; float:left; overflow:hidden;}
.left-t { width:145px; padding:12px 0 0 70px; height:67px; background:url(../images/left-t.jpg) no-repeat; color:#fff; font-size:18px; line-height:20px;}
.left-t p { font-size:12px; font-family:"zz",Arial; position:relative; height:22px; }
.left-t font { font-size:48px; position:absolute; left:-36px; top:-9px;}
.left-c { overflow:hidden;}
.left-c a { display:block; border-bottom:1px dashed #666666; color:#666666; font-size:16px; padding-left:70px; height:44px; line-height:42px; background:url(../images/left-c.jpg) 184px 15px no-repeat;}
.left-c a:hover, .left-c a.on { height:43px; border-bottom:2px solid #0b4ea7; color:#0b4ea7; background:url(../images/left-c2.jpg) 184px 15px no-repeat;}
/*****/
.right { width:755px; float:right; overflow:hidden; min-height:500px;}
.right-t { height:65px; border-bottom:2px solid #0b4ea7; position:relative;}
.right-t img { position:absolute; bottom:-2px; left:0px;}
.right-t .tbt { color:#0b4ea7; font-size:18px; margin-left:150px; font-weight:bold; line-height:65px;}
.info-c { font-size:14px; line-height:24px; color:#4d4d4d;}
/**********/
.lead-ul { overflow:hidden; width:800px;}
.lead-ul li { overflow:hidden; width:365px; float:left; margin:20px 25px 0 0;}
.lead-ul li h3 { height:30px; line-height:30px; background:#ededed; color:#666666; font-size:16px; padding-left:12px; margin-bottom:20px;}
.lead-ul li .tbc { overflow:hidden; color:#4e4e4e; line-height:24px; font-size:14px;  height:100px;}
.lead-ul li .tbc img { float:left; width:130px; height:100px; margin-right:20px;}
.lead-ul li .tbc span { color:#0b4ea7; font-size:16px; display:block; margin:8px 0;}
/**********/
.innews-ul {}
.innews-ul li { height:49px; line-height:49px;  padding-left:15px; background:url(../images/icon.jpg) 0px no-repeat; color:#535353; position:relative; font-size:14px; border-bottom:1px dashed #666666; }
.innews-ul li span { position:absolute; right:0px; top:0px;}
.innews-ul li a { color:#535353; }
.innews-ul li a:hover { color:#1196d8;}
/*********/
.fanye { text-align:center; padding:40px 0 0 0;  font-size:14px; color:#6d6d6d;}
.fanye a { display:inline-block; padding:0 10px; height:30px; border:1px solid #dcdcdc; color:#626262;  line-height:30px; font-size:14px;margin:0 6px;  }
.fanye a:hover { border:1px solid #0b4ea7;  color:#0b4ea7;}
/******************/
.info-c { color:#5c5c5c; font-size:14px; line-height:30px;  margin:25px 0px; overflow:hidden;}
.info-c img { max-width:810px;}
.info-t {  line-height:26px; padding-top:35px; text-align:center; font-size:24px; color:#555555; }
.info-sp { text-align:center; color:#767676; border-bottom:1px dashed #767676; padding:7px 0; margin:10px 0px 0 0px; height:25px; line-height:25px; }
.fenx {margin-left:20px; display:inline; _display:none; }
.sxpian { border-top:1px dashed #c0c0c0; margin:20px 0px 0 0px; padding-top:25px; line-height:30px; color:#474747; font-size:14px;}
.sxpian a { margin-left:6px; color:#969696;}
.sxpian a:hover {  color:#018ac1; text-decoration:underline;}
/**分享***/
.bshare-custom a{width:19px !important; height:18px !important; display:inline-block !important; padding-left:0px !important;}
.bshare-qqim{background:url(../images/share9.png) no-repeat !important; background-position:-49px 0 !important;}
.bshare-weixin{background:url(../images/share9.png) no-repeat !important; background-position:0px 0 !important; margin-left:6px;}
.bshare-sinaminiblog{background:url(../images/share9.png) no-repeat !important; background-position:-25px 0 !important;}
.bshare-renren{background:url(../images/share9.png) no-repeat !important; background-position:-74px 0 !important;}
.bshare-more{background:url(../images/share9.png) no-repeat !important; background-position:-98px 0 !important;}

/***************/
.inpic-ul { width:800px; overflow:hidden; margin:0px 0 0 0px;}
.inpic-ul li { float:left; width:155px; height:230px; overflow:hidden; text-align:center; margin:30px 40px 0 0; line-height:24px; font-size:14px; color:#4e4d4d;} 
.inpic-ul li a { color:#555555;}
.inpic-ul li img { display:block; width:153px; height:190px; border:1px solid #dcdcdc; margin-bottom:15px;}
.inpic-ul li a:hover { color:#0a91d6}
.inpic-ul li a:hover img { border:1px solid #0a91d6;} 
/*************/
.inpic-ul2 { width:800px; overflow:hidden; margin:0px 0 0 0px;}
.inpic-ul2 li { float:left; width:232px; height:190px; overflow:hidden; text-align:center; margin:25px 28px 0 0; line-height:24px; font-size:14px; color:#4e4d4d;} 
.inpic-ul2 li a { color:#555555;}
.inpic-ul2 li img { display:block; width:170px; height:118px; border:1px solid #dcdcdc; padding:20px 30px; margin-bottom:10px;}
.inpic-ul2 li a:hover { color:#0a91d6}
.inpic-ul2 li a:hover img { border:1px solid #0a91d6;} 
.iw_poi_title{color:#d74418;font-size:18px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap;}
.iw_poi_content{overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word; line-height:24px; color:#616364; font-weight:bold;}
.con_map{ border:1px solid #c5c5c5; width:888px; height:498px;}
#mapbox { display:none !important;}
/************/
.con-ul { overflow:hidden; margin:20px 0; }
.con-ul li { padding:12px 0; height:23px; line-height:23px; color:#666; font-size:14px;}
.con-ul li img { float:left; width:26px; height:23px; display:block; margin-right:10px;}
/***********/
.teach-ul { overflow:hidden;}
.teach-ul li { overflow:hidden; padding:15px 0; border-bottom:1px solid #b0afaf; color:#6e6e6e; font-size:14px; line-height:24px;}
.teach-ul li img { width:121px; height:136px; float:left; display:block; margin-right:25px;}
.teach-ul li span { display:block; font-size:16px; color:#0b4ea7; padding:12px 0;}
.teach-top { text-align:center; color:#0b4ea7; line-height:80px; font-size:18px;}
.teach-top img { max-width:80%;}
.kj-dh { overflow:hidden;}
.kj-dh li { overflow:hidden; border-bottom:1px solid #959595; padding:20px 0 20px 125px; position:relative; line-height:42px;}
.kj-dh li em { position:absolute; left:22px; top:50%; margin-top:-21px; color:#0b4ea7; font-size:18px;}
.kj-dh li a { float:left; width:155px; font-size:16px; color:#4d4d4d;}
.kj-dh li a:hover { text-decoration:underline;}
.load-ul { overflow:hidden; background:#f0f0f0; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}
.load-top { overflow:hidden; height:40px; background:#fff; line-height:40px; font-size:16px; color:#0b4ea7; border-bottom:1px solid #dddddd;}
.sp1 { width:450px; display:block; float:left; margin-left:10px; height: 50px;overflow: hidden;}
.sp2 { width:120px; display:block; text-align:center; float:left;}
.sp3 { width:170px; display:block; text-align:center; float:left;}
.load-ul ul{ background:url(../images/load-bg.jpg) top repeat-x; overflow:hidden;}
.load-ul ul li { border-bottom:1px solid #dddddd; height:50px; line-height:50px; font-size:14px; color:#000000;}
.load-ul ul li .sp1 { color:#000000;}
.load-ul ul li .sp3 { color:#0000ff;}

.sel-tb { border:none; background:none;     height: 34px; line-height: 34px; float: left;}